In [1]:
import pandas as pd
import numpy as np
import re
import os
from funciones import *

In [2]:
FBL3N = leer_excel("FBL3N.xlsx")

Leyendo archivo Excel: FBL3N.xlsx
Archivo Excel leído.

In [3]:
FBL5N = leer_excel("FBL5N.xlsx")

Leyendo archivo Excel: FBL5N.xlsx
Archivo Excel leído.

In [4]:
KNA1 = leer_excel("KNA1.xlsx")

Leyendo archivo Excel: KNA1.xlsx
Archivo Excel leído.

In [5]:
# PARTE 1

textos = FBL3N["Texto"]
FBL3N["Categoría"] = textos.apply(detectar_categoria)
FBL3N["RUT"] = textos.apply(detectar_rut)
FBL3N["N° Factura"] = textos.apply(detectar_n_factura)
#FBL3N["Números"] = textos.apply(detectar_numeros)

con_rut = FBL3N[pd.notna(FBL3N["RUT"])]
con_n_factura = FBL3N[pd.isna(FBL3N["RUT"]) & pd.notna(FBL3N["N° Factura"])]
#con_otros_numeros = FBL3N[pd.isna(FBL3N["RUT"]) & pd.isna(FBL3N["N° Factura"]) & pd.notna(FBL3N["Números"])]
#sin_numero = FBL3N[pd.isna(FBL3N["RUT"]) & pd.isna(FBL3N["N° Factura"]) & pd.isna(FBl3N["Números"])]

"""
try:
	os.mkdir(ruta)
except FileExistsError:
	pass

for dataframe, nombre in ((FBL3N, "NUEVO"), (con_rut, "RUT"), (con_n_factura, "N_FACTURA"), (con_otros_numeros, "OTROS_N"), (sin_numero, "SIN_N")):
	escribir_excel(dataframe, ruta + "/" + nombre + ".xlsx")
"""

'\ntry:\n\tos.mkdir(ruta)\nexcept FileExistsError:\n\tpass\n\nfor dataframe, nombre in ((FBL3N, "NUEVO"), (con_rut, "RUT"), (con_n_factura, "N_FACTURA"), (con_otros_numeros, "OTROS_N"), (sin_numero, "SIN_N")):\n\tescribir_excel(dataframe, ruta + "/" + nombre + ".xlsx")\n'

In [6]:
# PARTE 2

FBL5N["Cuenta"] = FBL5N["Cuenta"].apply(lambda n: str(n))

In [7]:
# Calzar números de factura

matches_factura = pd.merge(FBL5N, con_n_factura, left_on="Nｺ doc.", right_on="Nº documento")
matches_factura

Empty DataFrame
Columns: [Soc., Ejerc./mes, Cuenta, Cla, Nｺ doc., Asignaci, Referencia, Fe.contab., Fecha doc., Venc.neto, Fecha base, Fecha pago, Demora, Importe en MD, Mon., ML3, Importe en ML, CPag, Texto_x, Clave ref.1, Clave ref.2, VP, Lib.mayor, Usuario, Asignación, Nº documento, División, Clase de documento, Fecha de documento, Clave contabiliz., Importe en moneda local, Moneda local, Indicador impuestos, Doc.compensación, Texto_y, Categoría, RUT, N° Factura]
Index: []

[0 rows x 38 columns]

In [8]:
FBL5N

,Soc.,Ejerc./mes,Cuenta,Cla,Nｺ doc.,Asignaci,Referencia,Fe.contab.,Fecha doc.,Venc.neto,...,Mon.,ML3,Importe en ML,CPag,Texto,Clave ref.1,Clave ref.2,VP,Lib.mayor,Usuario
0,2000,2021/07,3000,DR,2500223089,1830001851,9646258,15.07.2021,15.07.2021,14.08.2021,...,CLP,CLP,1144618,Z030,NaN,NaN,C3001,NaN,1105011001,SD060
1,2000,2021/07,3000,DR,2500231991,1830001883,9646257,15.07.2021,15.07.2021,14.08.2021,...,CLP,CLP,1374500,Z030,NaN,NaN,C3001,NaN,1105011001,SD060
2,2000,2021/08,3000,DR,2500252969,1830001911,9752587,06.08.2021,06.08.2021,05.09.2021,...,CLP,CLP,325770,Z030,NaN,NaN,C3001,NaN,1105011001,SD060
3,2000,2021/08,3000,DR,2500252971,1830001912,9752588,06.08.2021,06.08.2021,05.09.2021,...,CLP,CLP,54245,Z030,NaN,NaN,C3001,NaN,1105011001,SD060
4,2000,2021/08,3000,DR,2500272073,1830001994,9813681,24.08.2021,24.08.2021,23.09.2021,...,CLP,CLP,102069,Z030,NaN,NaN,C3001,NaN,1105011001,SD060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95111,2000,2021/09,3334608,DR,2500297307,1801511757,9881477,07.09.2021,07.09.2021,07.10.2021,...,CLP,CLP,3389715,Z030,NaN,Sin An疝isis,3334608,F,1104011001,SD060
95112,2000,2021/10,3339778,DR,2500338784,1801557635,9889977,08.10.2021,08.10.2021,07.11.2021,...,CLP,CLP,380063,Z030,NaN,Sin An疝isis,3339778,F,1104011001,SD060
95113,2000,2021/10,3339778,DR,2500338785,1801557636,9889978,08.10.2021,08.10.2021,07.11.2021,...,CLP,CLP,86018,Z030,NaN,Sin An疝isis,3339778,F,1104011001,SD060
95114,2000,2021/10,3340465,DR,2500336613,1801555106,9889517,07.10.2021,07.10.2021,06.11.2021,...,CLP,CLP,62312,Z030,NaN,Sin An疝isis,3340465,F,1104011001,SD060
95115,2000,2021/04,5006485,DH,2500125108,1821635330,2418,23.04.2021,23.04.2021,23.04.2021,...,CLP,CLP,12100,Z001,NaN,Sin An疝isis,5006485,W,1104011001,SD060

In [9]:
KNA1

,Cliente,País,Nombre 1,Nombre 2,Población,Región,Conc.búsq.,Nº ident.fis.1,Nº ident.fis.2
0,2200,PE,DIMERC Perú S.A.C,NaN,LIMA,06,2053732119,20537321190,NaN
1,2201,PE,DIMERC Perú S.A.C,NaN,LIMA,06,55555555,55555555-5,NaN
2,3000,CL,PRONOBEL S.A.,NaN,SANTIAGO,13,96690560,96690560-3,NaN
3,10000,CL,Cliente Esporadico MEIGGS 58,NaN,SANTIAGO,13,MEIGGS 58,66666666-6,NaN
4,10001,CL,Cliente Esporadico MAIPU,NaN,Santiago,13,SUC MAIPU,66666666-6,NaN
...,...,...,...,...,...,...,...,...,...
285274,C2007,CL,Vitacura Instacart,NaN,Vitacura,13,VITACURA,NaN,NaN
285275,C2301,CL,CLA&GE Motors SpA,NaN,SANTIAGO,13,CLA&GE,NaN,NaN
285276,C3117,CL,Carpa DMG Cerrillos,NaN,SANTIAGO,13,CARPA CERR,NaN,NaN
285277,C3127,CL,Carpa Buenaventura,NaN,Quilicura,13,CARPA BUEN,NaN,NaN
285278,C3128,CL,Carpa Plaza Vespucio,NaN,"Local 249a al 265b, La Florida",13,CARPA PLAZ,NaN,NaN

In [10]:
# Calzar RUTs
KNA1["Nº ident.fis.1"] = KNA1["Nº ident.fis.1"].apply(lambda s: str(s).replace("-", ""))
join = pd.merge(FBL5N, KNA1, left_on="Cuenta", right_on="Cliente")
join = FBL5N.merge(KNA1, left_on="Cuenta", right_on="Cliente", how='left')
#join = pd.merge(join, con_rut, left_on="Nº ident.fis.1", right_on="RUT")

In [11]:
join

,Soc.,Ejerc./mes,Cuenta,Cla,Nｺ doc.,Asignaci,Referencia,Fe.contab.,Fecha doc.,Venc.neto,...,Usuario,Cliente,País,Nombre 1,Nombre 2,Población,Región,Conc.búsq.,Nº ident.fis.1,Nº ident.fis.2
0,2000,2021/07,3000,DR,2500223089,1830001851,9646258,15.07.2021,15.07.2021,14.08.2021,...,SD060,3000,CL,PRONOBEL S.A.,NaN,SANTIAGO,13,96690560,966905603,NaN
1,2000,2021/07,3000,DR,2500231991,1830001883,9646257,15.07.2021,15.07.2021,14.08.2021,...,SD060,3000,CL,PRONOBEL S.A.,NaN,SANTIAGO,13,96690560,966905603,NaN
2,2000,2021/08,3000,DR,2500252969,1830001911,9752587,06.08.2021,06.08.2021,05.09.2021,...,SD060,3000,CL,PRONOBEL S.A.,NaN,SANTIAGO,13,96690560,966905603,NaN
3,2000,2021/08,3000,DR,2500252971,1830001912,9752588,06.08.2021,06.08.2021,05.09.2021,...,SD060,3000,CL,PRONOBEL S.A.,NaN,SANTIAGO,13,96690560,966905603,NaN
4,2000,2021/08,3000,DR,2500272073,1830001994,9813681,24.08.2021,24.08.2021,23.09.2021,...,SD060,3000,CL,PRONOBEL S.A.,NaN,SANTIAGO,13,96690560,966905603,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95111,2000,2021/09,3334608,DR,2500297307,1801511757,9881477,07.09.2021,07.09.2021,07.10.2021,...,SD060,3334608,CL,SINDICATO NACIONAL TRABAJ1 EMBOTELL,ANDINA,SANTIAGO,13,70313500,703135005,NaN
95112,2000,2021/10,3339778,DR,2500338784,1801557635,9889977,08.10.2021,08.10.2021,07.11.2021,...,SD060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95113,2000,2021/10,3339778,DR,2500338785,1801557636,9889978,08.10.2021,08.10.2021,07.11.2021,...,SD060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95114,2000,2021/10,3340465,DR,2500336613,1801555106,9889517,07.10.2021,07.10.2021,06.11.2021,...,SD060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95115,2000,2021/04,5006485,DH,2500125108,1821635330,2418,23.04.2021,23.04.2021,23.04.2021,...,SD060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
escribir_excel(join, "Join.xlsx")

Escribiendo nuevo archivo Excel: Join.xlsx
Archivo Excel escrito.